:root {
  --main-bg-color-primary: #2C2F38;
  --main-color-white: #FFFFFF;
  --main-title-color-secondary: #898D98;
  --main-error-color-primary: #A9A9BA;
  --base-bg-color-primary: #F7F8FC;
  --sub-title-color-primary: #D5D5D7;
  --network-status-connected: #439755;
  --network-status-disconnected: #CC0000;
  --title-bg-color-primary: #96979C;
  --metamask-text-color-primary: #ABAFBB;
  --metamask-text-color-secondary: #A2A5B1;
  --table-item-border-primary: #FBFBFB;
  --table-item-text-primary: #4F5566;
  --button-color-primary: #657FE6;
  --button-color-secondary: #55B57D;
  --button-color-alt: #6C9AEE;
  --button-color-cancel: #727688;
  --modal-background-color: #F7F8FC;
  --modal-divider: #F1F2F6;
  --modal-placeholder-color: #BABAC8;
  --modal-address-color: #727688;
  --card-remove-color: #FF6666;
}

body {
  display: flex;
  justify-content: center;
  margin: 6px 16px 6px 16px;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--main-bg-color-primary);
}

.cowri-root {
  width: 970px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 16px 0;
}

.header-title-container {
  display: flex;
  align-items: center;
}

.error-connect-metamask {
  color: var(--main-error-color-primary);
  font-weight: 500;
}

.title-text {
  font-size: 24px;
}

.title-image {
  width: 20px;
  margin-right: 6px;
}

.title-main {
  color: var(--main-color-white);
  font-weight: 500;
  margin-right: 4px;
}

.title-sub {
  color: var(--main-title-color-secondary);
  font-weight: 300;
  margin-right: 4px;
}

.beta-container {
  display: inline-flex;
  background-color: var(--title-bg-color-primary);
  color: var(--main-bg-color-primary);
  border: 1px solid;
  border-radius: 6px;
  padding: 3px;
  font-size: 8px;
  font-weight: 500;
}

.base-container {
  background-color: var(--base-bg-color-primary);
  align-items: center;
  min-height: 200px;
  border-radius: 12px;
}

.account-container {
  display: flex;
  flex-direction: column;
  min-height: 200px;
}

.account-top {
  flex:0 1 auto;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.account-bottom {
  flex:1 1 auto;
  background-color: var(--main-color-white);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}

.account-balances-container {
  padding: 16px;
}

.manage-shell-container {
  padding: 16px;
}

.header-control-group-container {
  font-size: 16px;
  color: var(--sub-title-color-primary);
}

.network-container {
  display: flex;
  align-items: center;
}

.network-status-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 6px;
}

.network-connected {
  background-color: var(--network-status-connected);
}

.network-disconnected {
  background-color: var(--network-status-disconnected);
}

.network-name {

}

.action-container {
  display: flex;
  justify-content: space-between;
}

.button-group-container {
  display: flex;
  padding: 16px;
}

.btn {
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  box-shadow: 0 4px 6px 0 rgba(50,50,93,0.11), 0 1px 3px 0 rgba(0,0,0,0.08), inset 0 0 1px 0 rgba(0,0,0,0.06);
  margin-left: 4px;
  margin-right: 4px;
  transition: all 0.15s ease 0s;
}

.btn:hover {
  transform: translateY(-1px);
}

.btn:active {
  transform: translateY(1px);
  opacity: 0.8;
  color: #EAEDF9;
}

.no-margin {
  margin: 0;
}

.btn-create-shell {
  background-color: #12B878; 
}

.btn-send {
  background-color: var(--button-color-primary);
}

.btn-send:hover, .btn-receive:hover {
  background-color: #728cf3;
}

.btn-send:active, .btn-receive:active {
  background-color: #3f59c0;
}

.btn-receive {
  background-color: var(--button-color-primary);
}

.btn-cancel {
  background-color: var(--button-color-cancel);
}

.btn-remove {
  background: var(--card-remove-color);
}

.btn-remove:hover {
  background-color: #ff7373;
}

.btn-remove:active {
  background-color: #d94040;
}

.btn:focus {
  outline: none;
}

.btn-icon {
  margin-right: 6px;
}

.metamask-container {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 16px;
}

.metamask-title {
  font-weight: 500;
  color: var(--metamask-text-color-primary);
}

.metamask-address {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  color: var(--metamask-text-color-secondary);
  text-transform: uppercase;
}

.table-container {
  max-height: 500px;
  overflow: scroll;
}

.table-column-container, .table-row-container {
  display: flex;
  justify-content: space-between;
}

.table-footer-message {
  font-size: 12px;
  font-weight: 500;
  padding-top: 16px;
  color: var(--metamask-text-color-primary);
}

.footer-icon {
  margin-right: 6px;
}

.column-item {
  text-transform: uppercase;
  color: var(--button-color-primary);
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.2em;
  width: 100%;
  border-bottom: 2px solid var(--table-item-border-primary);
  padding-bottom: 14px;
}

.cowri-row-item, .row-item {
  width: 100%;
  border-bottom: 2px solid var(--table-item-border-primary);
  color: var(--table-item-text-primary);
  padding-top: 12px;
  padding-bottom: 12px;
}

.cowri-row-item {
  color: black;
}

.cowri-row-item {
  font-size: 20px;
  font-weight: 500;
}

.column-quantity {
  text-align: right;
}

.column-price {
  text-align: right;
}

.column-total {
  text-align: right;
}

.row-quantity {
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.row-price {
  text-align: right;
  letter-spacing: 0.1em;
}

.row-total {
  text-align: right;
  letter-spacing: 0.1em;
}

.send-modal-form {
  width: 100%;
}

.send-modal-container {
  display: flex;
  max-width: 600px;
  height: 400px;
  background-color: var(--modal-background-color);
  border-radius: 12px;
  overflow: auto;
  z-index: 9999;
  margin: auto;
  margin-top: 30px;
}

.receive-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 408px;
  height: 366px;
  background-color: var(--modal-background-color);
  border-radius: 12px;
  overflow: auto;
  z-index: 9999;
  margin: auto;
  margin-top: 30px;
  padding: 16px;
}

.receive-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-error-color-primary);
  font-weight: 500;
  font-size: 14px;
}

.qr-code {
  width: 259px;
  height: 259px;
  background-color: white;
  border: 1px solid black;
  align-self: center;
}

.receive-address {
  align-self: center;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  background: white;
  border-radius: 8px;
  padding: 12px 12px;
  box-shadow: rgba(50, 50, 93, 0.11) 
    0px 4px 6px 0px, 
    rgba(0, 0, 0, 0.08) 
    0px 1px 3px 0px, 
    rgba(0, 0, 0, 0.06) 
    0px 0px 1px 0px inset;
  color: var(--modal-address-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.send-modal-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.send-modal-input {
  padding: 16px 16px;
  font-size: 14px;
}

.address-input {
  display: flex;
  flex-direction: column;

}

.recipient-input {
  display: flex;
  flex-direction: column;
}

.amount-input {
  display: flex;
  flex-direction: column;
}

.send-modal-input > input {
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: rgba(50, 50, 93, 0.11) 
    0px 4px 6px 0px, 
    rgba(0, 0, 0, 0.08) 
    0px 1px 3px 0px, 
    rgba(0, 0, 0, 0.06) 
    0px 0px 1px 0px inset;
}

.send-modal-input > label {
  color: var(--main-error-color-primary);
  font-weight: 500;
  margin-bottom: 12px;
}

.send-button-group-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--modal-divider);
  padding: 16px;
}

.send-modal-fee {
  font-size: 14px;
  color: var(--main-error-color-primary);
}

.recipient-address::placeholder {
  color: var(--modal-placeholder-color);
  font-weight: 400;
}

.cowri-amount::placeholder {
  color: var(--modal-placeholder-color);
  font-weight: 400;
}

.wallet-address::placeholder {
  color: black;
  font-weight: 500;
}

.manage-selection-message {
  color: #52555E;
  font-weight: 500;
  font-size: 18px;
}

.manage-token-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.token-card-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  padding: 16px;
  height: 80px;
  margin: 16px 16px 16px 16px; 
  min-width: 15%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  font-size: 20px;
  transition: all 0.15s ease 0s;
}

.token-card-container:hover {
  transform: translateY(-1px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.token-card-container:active {
  transform: translateY(1px);
}

.shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.add-token-card-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px;
  padding: 16px;
  height: 80px;
  margin: 16px 16px 16px 16px; 
  min-width: 15%;
  color: #52555E;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  transition: all 0.15s ease 0s;
}

.add-token-card-container:hover {
  transform: translateY(-1px);
  background-color: var(--button-color-primary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: white;
}

.add-token-card-container:active {
  background-color: #3f59c0;
  color: white;
  opacity: 0.8;
  transform: translateY(1px);
}

.fa-plus-circle {
  font-size: 54px;
}

.token-image {
  padding: 6px;
}

.close-container {
  position: relative;
  width: 0;
  height: 0;
}

.token-card-remove-hidden {
  display: none;
}

.manage-shell-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33px;
  margin: 0 16px 0 16px;
}

.token-card-remove {
  top: 6px;
  right: 6px;
  position: absolute;
  width: 23px;
  height: 23px;
  border: 2px solid white;
  background-color: #52555E;
  box-shadow: 0 0 3px #ccc;
  border-radius: 50%;
}

.token-card-remove::before, .token-card-remove::after {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 13px;
  height: 3px;
  content: "";
  background-color: white;
}

.token-card-remove::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.token-card-remove::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.error-connect-container {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /*.base-container {background-color: red;}*/
  .cowri-root {max-width: 370px;}
  .metamask-title {font-size: 12px;}
  .metamask-address {font-size: 12px;}
  .action-container {flex-direction: column;}
  .button-group-container {justify-content: center;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /*.base-container {background-color: green;}*/
  .cowri-root {width: 568px;}
  .action-container {flex-direction: column;}
  .button-group-container {justify-content: center;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /*.base-container {background-color: blue;}*/
  .cowri-root {width: 670px;}
  .action-container {flex-direction: row;}
  .button-group-container {justify-content: flex-start;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /*.base-container {background-color: orange;}*/
  .cowri-root {width: 970px;}
  .action-container {flex-direction: row;}
  .button-group-container {justify-content: flex-start;}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /*.base-container {background-color: pink;}*/
  .cowri-root {width: 970px;}
  .action-container {flex-direction: row;}
  .button-group-container {justify-content: flex-start;}
}

@media (max-width: 700px) {
  .token-card-container {min-width: 33.33%};
}

@media (max-width: 400px) {
  .token-card-container {min-width: 50%};
}
